<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/product.css">
    <title>Product</title>
</head>
<body>
    <nav class="navbar"></nav>

    <section class="product-details">
        <div class="image-slider">
            <div class="product-images">
                <img src="../images/gift-card-1.jpg" alt="" class="active">
                <img src="../images/gift-card-2.jpg" alt="">
                <img src="../images/gift-card-3.jpg" alt="">
                <img src="../images/gift-card-4.jpg" alt="">
                <img src="../images/gift-card-5.jpg" alt="">
            </div>
        </div>
        <div class="details">
            <h2 class="product-brand">Coca-cola chasing liquor</h2>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id cumque repellat sit!</p>
            <span class="product-price-now">KES 2250</span>
            <span class="product-actual-price">KES 4500</span>
            <span class="product-discount">(50% 0ff)</span>

            <p class="select-size">Select Size</p>

            <input type="radio" name="size" value="s" checked hidden id="s-size">
            <label for="s-size" class="size-radio-button checked">s</label>

            <input type="radio" name="size" value="s" hidden id="m-size">
            <label for="m-size" class="size-radio-button">m</label>

            <input type="radio" name="size" value="s" hidden id="l-size">
            <label for="l-size" class="size-radio-button">l</label><br>

            <button class="btn cart-btn">Add to cart</button>
            <button class="btn other-btn">Complete Order</button>
        </div>
    </section>

    <section class="detail-description">
        <h2 class="heading">description</h2>
        <p class="paragraph-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quidem est, iusto fugiat minus quae tempora mollitia optio amet, qui eveniet quis corrupti corporis ipsa sapiente dolorem aperiam similique repellendus soluta itaque! Ea consectetur vero odio non fugiat distinctio dolorem qui facilis numquam, nulla eum, provident veniam, earum magni debitis tempora ratione et omnis! Doloribus culpa aperiam fuga ducimus laborum illum, blanditiis nemo corrupti quae tenetur, dolor officia nostrum consectetur. Esse veniam eum quisquam totam, quod necessitatibus recusandae dolor explicabo iure blanditiis voluptas vitae accusantium ipsa praesentium laboriosam asperiores laudantium eaque labore nesciunt optio ducimus magni earum error? Molestiae ut sunt, temporibus est eius ipsum sequi harum quidem ea dolorem aut aliquam inventore odit perferendis ex assumenda, amet earum quam? Necessitatibus ex nam ipsum beatae distinctio voluptatum fugiat excepturi ratione cum architecto doloribus, ipsa, optio laborum velit dolor quibusdam illum consequuntur molestiae, saepe iste odio quaerat aliquid! Perspiciatis consequatur, eveniet exercitationem perferendis soluta accusamus illum ex dolores error. A quasi voluptas quisquam voluptate dicta? Qui rerum dolorum ipsum magni ex unde, voluptate molestias ullam quibusdam quaerat reprehenderit facilis, provident corrupti natus eaque minus voluptatem explicabo dicta animi. Qui sapiente pariatur vitae blanditiis modi neque, nobis, nesciunt officiis inventore laudantium dolore culpa facere quae rem dolor autem quas reiciendis consequatur ea expedita atque. Sed a porro odit. Doloremque voluptate praesentium placeat quisquam a alias, qui molestiae consequatur enim deleniti! Cumque itaque animi laudantium unde expedita adipisci perspiciatis doloribus temporibus! Similique earum necessitatibus, at reiciendis aut impedit quam eligendi aliquam error vero et ipsam laudantium. Hic sapiente laudantium aut sint impedit voluptate reiciendis, aliquid nobis quidem architecto quam obcaecati fugiat dolore velit asperiores accusantium? Alias delectus impedit quia cum? Ratione iusto sequi repudiandae quam sit dolorum iste, omnis itaque. Reiciendis ipsum excepturi sunt impedit, molestias fugiat reprehenderit dicta vel porro, rerum illum.</p>
        
    </section>

    <section class="products">
        <h2 class="product-category">Alcoholics</h2>

        <button class="previous-button"><img src="../images/prebutton.png" alt="Previous" onclick="productContainers.previousButton"></button>
        <button class="next-button"><img src="../images/nextbutton.png" alt="Next" onclick="productContainers.nextButton"></button>

        <div class="products-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-1.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">30% Off</span>
                    <img src="../images/gift-card-2.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 1260</span>
                    <span class="actual-price">KES 1800</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">40% Off</span>
                    <img src="../images/gift-card-3.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2340</span>
                    <span class="actual-price">KES 3900</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-4.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-5.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-6.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-7.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
        </div>
    </section>

    <section class="products">
        <h2 class="product-category">Non Alcoholics</h2>

        <button class="previous-button"><img src="../images/prebutton.png" alt="Previous" onclick="productContainers.previousButton"></button>
        <button class="next-button"><img src="../images/nextbutton.png" alt="Next" onclick="productContainers.nextButton"></button>

        <div class="products-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-1.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">30% Off</span>
                    <img src="../images/gift-card-2.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 1260</span>
                    <span class="actual-price">KES 1800</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">40% Off</span>
                    <img src="../images/gift-card-3.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2340</span>
                    <span class="actual-price">KES 3900</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-4.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-5.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-6.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-7.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
        </div>
    </section>




    <footer class="footer-stuff"></footer>
    <script src="/static/js/product.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/homepage.js"></script>
</body>
</html>