<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>Search results</title>
</head>
<body>
    <nav class="navbar"></nav>

    <section class="search-results">
        <h2 class="heading">Search results for <span>product</span></h2>
    </section>

        <div class="products-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-1.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">30% Off</span>
                    <img src="../images/gift-card-2.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 1260</span>
                    <span class="actual-price">KES 1800</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">40% Off</span>
                    <img src="../images/gift-card-3.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2340</span>
                    <span class="actual-price">KES 3900</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-4.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-5.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-6.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-7.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
        </div>

        <div class="products-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-1.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">30% Off</span>
                    <img src="../images/gift-card-2.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 1260</span>
                    <span class="actual-price">KES 1800</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">40% Off</span>
                    <img src="../images/gift-card-3.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2340</span>
                    <span class="actual-price">KES 3900</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-4.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-5.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-6.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-7.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
        </div>

        <div class="products-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-1.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">30% Off</span>
                    <img src="../images/gift-card-2.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 1260</span>
                    <span class="actual-price">KES 1800</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">40% Off</span>
                    <img src="../images/gift-card-3.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2340</span>
                    <span class="actual-price">KES 3900</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-4.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-5.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-6.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-7.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
        </div>

        <div class="products-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-1.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">30% Off</span>
                    <img src="../images/gift-card-2.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 1260</span>
                    <span class="actual-price">KES 1800</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">40% Off</span>
                    <img src="../images/gift-card-3.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2340</span>
                    <span class="actual-price">KES 3900</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-4.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-5.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-6.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-7.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
        </div>

        <div class="products-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-1.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">30% Off</span>
                    <img src="../images/gift-card-2.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 1260</span>
                    <span class="actual-price">KES 1800</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">40% Off</span>
                    <img src="../images/gift-card-3.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2340</span>
                    <span class="actual-price">KES 3900</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-4.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-5.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-6.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount">50% Off</span>
                    <img src="../images/gift-card-7.jpg" alt="Product" class="product-thumbnail">
                    <button class="card-button">Add to Wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Brand</h2>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo?</p>
                    <span class="price-now">KES 2250</span>
                    <span class="actual-price">KES 4500</span>
                </div>
            </div>
        </div>

    <footer class="footer-stuff"></footer>
    <script src="/static/js/search.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/homepage.js"></script>
</body>
</html>