@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300&display=swap');

*{
    margin: 0;
    background-color: #FDEBF7;
    font-family: 'Lato', sans-serif;
}

.the-login-division{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
}

.the-login-division input{
    width: 40%;
    height: 60px;
    margin: 20px;
    border: 2px solid #CECDFD;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bold;
}

.the-login-division button{
    width: 200px;
    height: 80px;
    margin: 10px;
    padding-left: 5;
    border-radius: 50px;
}

.the-login-division button:hover{
    letter-spacing: 2px;
}